body {
    width:100%;
    background-color:#fff8bc;
    font-size:14px;
}

header {
    background-color:#c7b200;
    font-size:1.6em;
    padding:1% 2%;

}

header h1 {
    font-size:36px;
    font-family: 'Lobster', serif;
    color:#fff;
    }

#gauche {
    width:38%;
    float:left;
    padding:0.5% 1%;
}

#gauche h2, #player h2{
    font-size:20px;
    margin:10px 0;
}

#message {
    padding: 10px;
    margin-top: 10px;
}

#droit {
    width: 55%;
    float: right;
    margin-top: 10px;
    padding: 5px;
}

#animation {
    width: 0;
    height:0;
    background-repeat:no-repeat;
    background-position:0px 0px;
}

input[type="text"] {
    width: 40px;
}

form {
    width:100%;
}

fieldset {
    width:100%;
}

#exemple, #player {
    display:none;
    width:100%;
}

#anim {
    display:none;
}

button:not([id="form_ok"]) {
    margin-top: 20px;
    display: none;
}

figure {
    margin:10px 0;
    background:#edd400;
    padding:5px;
}

figure img {
    width:100%;
}

.submit, #form_ok {
    background:#898CB1;
    color:#fff;
    padding:10px 20px;
    border:none;
}
